.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 50px auto;
  padding: 20px;
  border: 2px solid rgb(0, 82, 96);
  border-radius: 12px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  background-color: #f9f9f9;
}

.form-container p {
  margin-top: 10px;
  font-size: 14px;
  text-align: center;
}

.form-container p a {
  color: #007bff;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

.form-container p a:hover {
  color: #0056b3;
}


.form-input {
  width: 90%;
  padding: 12px;
  margin: 12px 0;
  border: 1px solid #ccc;
  border-radius: 6px;
  box-sizing: border-box;
  font-size: 16px;
  transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.form-input:focus {
  border-color: #007bff;
  box-shadow: 0 0 8px rgba(0, 123, 255, 0.25);
}

.form-button {
  width: 90%;
  padding: 12px;
  margin: 20px 0;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease-in-out, transform 0.2s;
}

.form-button:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}
